<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">todo-app</h1>
            <small class="text-muted"><a href="https://github.com/maxemiliang/simple-todo-app">Github Repo</a></small>
            <p class="lead">Dead simple todo app</p>
            <form class="todo form-inline">
                <input id="todoToAdd" class="form-control form-control-sm" type="text" placeholder="Take out the trash"
                    pattern=".{1,}" required>
                <input type="submit" class="btn-sm addTodo btn-primary" value="Add">
            </form>
            <hr>
            <h1>Todos</h1>
            <ul class="list-group todos">
                <li class="list-group-item line-wrap">Loading...</li>
            </ul>

        </div>
    </div>